<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [3]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [4]:
#Exercise 3 - Create a markdown cell for an introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
##### List popular languages for Data Science
* Python
* C++
* SQL
* R

In [5]:
#Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. SQL

In [6]:
#Exercise 5 - Create a markdown cell to list data science libraries

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Seaborn
3. TensorFlow
4. Matplotlib

In [7]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|JupyterNotebook|
|RStudio|
|Visual studio Code|

In [9]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5

17

In [19]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [28]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hour = minute/60
print(hour)

3.3333333333333335

In [29]:
#Exercise 10 - Insert a markdown cell to list Objectives

In [30]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Yusuf Dirawi